body {
    font-family:"VT323", monospace;
    background-image: url("../assets/Combat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-attachment: fixed;
}

p {
    font-size:125%;
    align-items: center;
    color:#fff;
}

#combat {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-top: 2px solid #444;
    border-radius: 12px 12px 0 0;
    font-family: "VT323", monospace;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.4);
}

#combat p {
  margin: 10px 0;
  font-size: 130%;
}

#combat button {
  display: inline-block; /* force les boutons sur une seule ligne */
  vertical-align: middle;
}

#btn-attaquer {
    padding: 20px 40px;
    font-size: 120%;
    font-family: inherit;
    background-color: grey;
    color: rgb(104, 10, 10);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 1s ease, background-color 0.3s ease;
    margin-right: 50px;
}

#btn-attaquer:hover {
    background-color: rgb(104, 10, 10);
    transform: scale(1.1);
    color: red;
}

#btn-action {
    padding: 20px 60px;
    font-size: 120%;
    font-family: inherit;
    background-color: grey;
    color: rgb(19, 78, 4);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 1s ease, background-color 0.3s ease;
}

#btn-action:hover {
    background-color: rgb(19, 78, 4);
    transform: scale(1.1);
    color: green;
}

#monster {
    position:fixed;
    text-align:center;
  display: block;
  bottom:0;
  margin: 20px auto 40px auto;
  max-width: 150px;
  image-rendering: pixelated;
  transition: transform 0.1s ease;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(-5px); }
  50%  { transform: translateX(10px); }
  75%  { transform: translateX(-15px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s;
}
